<div id="trip_div" style="padding: 15px;">
  <%= render 'action_histories/trip_histories_api' %>
</div>


<script>
  $(function(){
    $('#myGallery').galleryView({
      panel_width: 300,
      panel_scale: 'fit',
      //show_panels: false,
      show_panel_nav: false,
      frame_height: 32,
      show_captions: true,
      show_filmstrip_nav: true
    });
  })
</script>
<div class="mission-detail" style="background-color: skyblue; height: 200px; padding: 10px;
                                   color: white; margin: 10px; overflow: auto;">
  <% if @all_trip_info.present? %>
    <% @all_trip_info.each do |trip| %>
    <div class="past-trip" style="background-color: darkblue; height: 50px;
                                  border: 1px solid white;"
         data-trip-no=<%= trip[:trip_no] %> >
      <%= DateTime.parse(trip[:created_at]).in_time_zone('Tokyo').strftime('%Y/%m/%d') %>
      <span>の旅</span>
    </div>
    <% end %>
  <% end %>
</div>

<style>
.list-box {
  display: table;
  width: 100%;
}

.list-box-div {
  display: table-cell;
}
.list-box-station {
  width: 35%;
}
.list-box-time {
  width: 15%;
}
.list-box-mission-title {
  width: 35%;
}
</style>