<div id="trip_div" style="padding: 10px;">
  <%= render 'action_histories/trip_histories_api' %>
</div>

<% if @all_trip_info.present? %>
  <p class="bg-primary" style="margin: 3px auto; font-size: 18px; vertical-align: middle;">
    <Marquee style="vertical-align: middle;" crollamount="2" truespeed>以下の日付を押すと過去の履歴を確認できます。</Marquee>
  </p>
<% end %>
<div class="mission-detail" style="height: 200px; padding: 5px;
                                   color: white; margin: 5px; overflow: auto;">
  <% if @all_trip_info.present? %>
    <% @all_trip_info.each do |trip| %>
    <div class="col-xs-4 col-sm-3 col-md-2 past-trip loading" style="height: 80px; border: 0px;"
         data-trip-no=<%= trip[:trip_no] %> >
      <div class="img-circle" style="width: 70px; height: 70px; text-align: center; background-color: #FF9500;">
        <div style="vertical-align: middle; height: 70px; line-height: 70px;">
          <p style="line-height: 25px;"><%= DateTime.parse(trip[:created_at]).in_time_zone('Tokyo').strftime('%Y') %></p>
          <p style="line-height: 5px;"><%= DateTime.parse(trip[:created_at]).in_time_zone('Tokyo').strftime('%m / %d') %></p>
          <p style="line-height: 15px;">の旅</p>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
