<div class="panel panel-primary"
     style="width: 90%; margin: 20px auto;">
  <div class="panel-heading">
    <h3 class="panel-title">設定</h3>
  </div>

  <div class="panel-body">
    <p>Panel content</p>
    <p>ここに設定を載せる</p>
    <div style="margin: 0 auto;">
      <%= link_to "next", missions_index_path, class: "btn btn-info",
                          style: "display: block; width: 80%; margin: 0 auto;" %>
    </div>
  </div>

