<div id="mission_data" style="height: 175px; overflow: auto;">
  <% @json.each do |mission| %>
    <div class="col-xs-6 col-sm-6 col-md-4">
      <div class="mission-info" data-station-no=<%= mission[:station_no]%>
           data-mission-no=<%= mission[:mission_no]%> >
        <div class="thumbnail" style="">
          <%= link_to image_tag(mission[:mission_image_url],
                      border: 0, size: '119x95', style:'border-radius: 5px'),
                      missions_show_path(station_no: mission[:station_no], mission_no: mission[:mission_no]),
                      style: "display: block; padding: 0px; margin: 0px;",
                      class: "loading" %>
          <div class="caption" style="padding: 0; text-align: center; min-height: 40px;">
            <p><%= mission[:mission_title] %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
