<!-- Footer -->
<div id="footer">
  <div class="row">
    <div class="col-md-12">
      <div class="footer">
        <div class="container">
          <div class="footer-copyright text-center">Copyright &copy; 2014 xxx xxxx xxxx </div>
        </div>
      </div>
    </div>
  </div>
</div>
